body{
  height: 80%;
  font-size: 18px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Modal Section */
#Modal-0{
  position: fixed;
  margin: 10%;

  z-index:1;
  background: white;
}

div.Modal-Container{
  z-index: 1003;
  display: flex;
  flex-direction: column;
  opacity: 1;
  /* top: 10%; */
  transform: scaleX(1) scaleY(1);
  margin: 0;
  height: 40vh;
  width: 100%;
  top: 0%;  
  background-color: rgba(0,0,0,0.5);
}


#Modal-0 > div.modal-footer > button{
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  color: teal;
}

div.modal-content > h4{
  background-color: lightseagreen;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 0%;
}
h4{
  text-align: center;
}

div.modal-content{
color: goldenrod;
}

div.modal-footer{
  background-color: lightseagreen;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*Header Section*/

#root > div > div.row {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: lightsteelblue;
}

#root > div > div.row > div.col.l12 > div > a:nth-child(2){
padding-left: 20%;  
}

/*Footer Section*/

div.site-footer{
  position: relative;
  bottom:0;
  background: crimson;
color:white;
}

#root > div > div:nth-child(3) > div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25vh;
  align-content: space-around;
}

#root > div > div:nth-child(3) > p{
  position: relative;
  
}

/* #root > div > div:nth-child(3) > div.Columns > div {
  height: 20px;
  width: 50%;

} */

#root > div > div.site-footer > address > a:hover{
 color: white;
 text-decoration: none; 
}

#root > div > div.site-footer > address > a:active{
color: black;
}

a.site-header > a{
  text-decoration: none;
  color: white;
  float: left; 
}

#root > div > div.row > div > div{
  width: 100vw;
}

#root > div > div >div> div > a{
  margin: 0% 1%; 
  text-decoration: none;
  color: black;
}

#root > div > div > div > div > a:nth-child(1):active {
text-decoration: none;
color: yellow;
}

#root > div > div > div > div > a:hover{
text-decoration: none;
color:rgba(0, 0, 0, 0.5)
}

div.header-img{
width: 100vw;
height: 200px;
}

div.site-footer{
  width:100.5vw;
  
}

#root > div > div.row > div > div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: crimson;
  width: 101.1vw;
}

svg.site-logo{
  color:black;
  float: left;
  align-items: center;
  width: 3%;
  height: 3%;
  border-left-width: 2%;
  margin-left: 2%;
}

div.site-nav > a{
  position: relative;
}

a.link.Home{
  left: 15%;
}

a.link.Calculator{
  left: 30%;
}

a.link.Weightlog{
  left: 45%;
}

div > a.calcLink{
  color:black;
}



#Modal-0{
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 0px;
  transform: scaleX(1) scaleY(1);
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  right: 0px;
  left: 0px;
}

#Modal-0 > div.modal-content{
  position: relative;
  top: 45%;
}

#Modal-0 > div.modal-footer{
  position: relative;
  top: 55%;
}



#root > div > div > div.content.p  {
  width: 60vw;
  font-size: 1.5rem;
  line-height: 150%;
    background: url(https://images.unsplash.com/photo-1543353071-c953d88f7033?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx) no-repeat center;
  background-size: 80vw;
  
  height: 100vh;
  
}


#root > div > div.row > div > div > a{
  color: white;
  
}

section.banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  z-index: 0;
}

.banner{
  position: relative;
  bottom: 24px;
  height: 100vh;
}

section.banner > p{
 position:relative;
  z-index: 10;
  color: white;
  top: 10%;
}

#root > div > div.content.bg {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100.5vw;
}

/* #root > div > div.content.bg > div > button{
  position: relative;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: salmon;
    cursor: pointer;
    z-index: 2000;
    
} */

img.site-logo{
  
  float: left;
  border-radius: 15px;
  width: 10vw;
  height: 12vh;
}

button.calcBtn{
 height: 44px;
 bottom: 0px;
 left: 48vw;
  left: 48vw;
  position: absolute;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: salmon;
  cursor: pointer;
  z-index: 5;
  border: 0px;
  font-size:larger;
  width: 10vw;
  height: 5vh;
}

button.calcBtn :hover {
  color: salmon;
  opacity: 0.9;
}

button:hover{
  opacity: 0.9;
}

#root > div > div.site-footer > address > div:nth-child(1) > p{
margin-top: 0px;
bottom: 0px;

}

table, th, td {
  border: 1px solid blanchedalmond;
}

 table{
  
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
  right: 0px;
  left: 1210.6;
  left: 25%;
  margin-bottom: 5%;
  margin-top: 5%;
}

 tr > a{
  display: flex;
  flex-direction: column;
}

table{
  border-collapse: collapse;
}

td,th {
  display: flex;
  flex-basis: 33%;
  border: 1px solid #ca424b;
  justify-content: center;
}

 tr:nth-child(odd){
  background-color: #e63d48;
}

tr:nth-child(even){
  background-color: #fcbdbd; 
}
tr:hover{
  background-color: #fa5151;
}

tr{
  text-align: center;
}

th{
  padding-top:12px;
  padding-bottom:12px;
  text-align: center;
  background-color:crimson;
  color: white;
}

#root > div > div:nth-child(2) > p{
  margin-bottom: 3%;
  margin-top: 0px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

a > svg {
  width: 3vw;
  height: 6vw;
}

div#contact-me{
  display: flex;
  height:200px;
}


#contact-info{
  height: 100px;
  flex-basis: 33%;
} 
 
#contact-links{
  height: 100px;
  flex-basis: 33%;
} 

 #something{
  height: 100px;
  flex-basis: 33%;
}

h1.header-text{
  width:100%;

}

#root > div > div.row > div > div > a.site-header > a > div{
  display: flex;
}

/*Calculator Page*/

#root > div > div:nth-child(2) > div:nth-child(1) > form{
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
  /* right: 37px; */
  align-items: center;
}

#root > div > div:nth-child(2) > div:nth-child(1) > h3{
  
    position: relative;
    /* right: 30px; */
}

#root > div > div:nth-child(2) > div.Columns > table > tr.table.headers{
  display: flex;
}

#root > div > div:nth-child(2) > div.Columns > table{
  flex-direction: column;
}

#root > div > div:nth-child(2) > div.Columns > table > tr.table.rows{
display: flex;
}

#root > div > div:nth-child(2) > div.Columns > table > tr > td.table.intake > a > svg{
  width: 1vw;
  height: 2vh;
}


/*Media Query - Galaxy Fold - 280 x 653 */
@media screen and (max-width: 280px ) {
body{
  display: flex;
  height: 75vh;
  font-size: 13px;
}


#root > div > div.row > div{
  width: 120vw;
}

#root > div > div > div.content.p{
width: 100vw;
position: relative;
font-size: 1.25rem;
opacity: 1;
line-height: 150%;
background: url(https://images.unsplash.com/photo-1543353071-c953d88f7033?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx) center no-repeat;
background-size: cover;
height: 98.5vh;
}

#root > div > div.row > div > div.site-nav{
  height: 100%;
  width: 120vw;
}

#root > div > div.row > div > div > a.site-header > a > div > img{
 width: 50%;
 height:14vh;
}

#root > div > div.row > div > div > a.site-header > a > div{
  display: flex;
  align-items: center;
  width: 60vw;
  height: 30%;
}

h1.header-text{
  font-size: 0.39rem;
}

#root > div > div.row > div > div > a.link{
  font-size: 0.4rem;
}

a.link.Calculator > p{
  position: relative;
  left: 50%;
}

#root > div > div.content.bg{
  width: 120vw;
}

#root > div > div.content.bg > div{
  line-height: 85%;
  padding-top: 10px;
}

#root > div > a > button{
  border: 0px;
  height: 5%;
  bottom: 12vh;
  left: 45vw;
}

#root > div > div.content.bg > div > div > div > div > p{
position: relative;
color: white;
font-size: 0.5rem;
z-index: 10000;
}

#root > div > div.site-footer{
  width: 120vw;
}

#contact-me > p{
  margin-top: 15%;
}

section.banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  z-index: 0;
}

.banner{
  position: relative;
  bottom: 20px;
  height: 100vh;
}

section.banner > p{
 position:relative;
  z-index: 10;
  color: white;
  font-size: x-small;
  top: 10%;
}

#root > div > div.row > div > div > a{
  color: white;
  
}

tr > a > svg{
  width: 20px;
  height: 2.5vh
}

#root > div > div:nth-child(2) > div:nth-child(1) > form{
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
  /* right: 37px; */
  align-items: center;
}

#root > div > div:nth-child(2) > div:nth-child(1) > h3{
  
    position: relative;
    /* right: 30px; */
}

#root > div > div:nth-child(2) > div.Columns > table > tr.table.headers{
  display: flex;
}

#root > div > div:nth-child(2) > div.Columns > table{
  flex-direction: column;
}

#root > div > div:nth-child(2) > div.Columns > table > tr.table.rows{
display: flex;
}

#root > div > div:nth-child(2) > div.Columns > table > tr.table.rows > td.table.entry{
  width: 26%;
}

#root > div > div:nth-child(2) > div.Columns > table > tr.table.rows > td.table.weight{
  width: 21vw;
}
/* #root > div > div.row > div > div > a > p {
  font-size: xx-small;
} */
  /* #Modal-0{
    position: fixed;
    margin: 10%;
    margin-top:50%;
    z-index:1;
    background: white;
  }
  
  div#Modal-0.modal.open{
    margin: 0 auto;
    margin-top: 50%;
    flex-direction: column;
    justify-content: flex-end;
  }
 
  div.modal-content > h4{
    background-color: lightskyblue;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0%;
  }
  h4{
    text-align: center;
  }
  div.modal-content{
    color: goldenrod;
    }
    
    div.modal-footer{
      display: flex;
      justify-content: center;
      background-color: lightskyblue;
      padding-top: 1%;
      padding-bottom: 1%;

    }

    #root > div > div:nth-child(3) > div > div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 70vw;
    }
    #root > div > div:nth-child(3) > div > div > button{
      height: 26px;
      margin-top: 50%;
    }  
    
    #root > div > div:nth-child(3) > div{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 24vh;
    }

    #root > div > div:nth-child(3) > p{
      position: fixed;


    }
    #root > div > div:nth-child(3) > div.Columns > div {
      height: 20px;
      width: 50%;
    }
 
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}