body{
  height: 80%;
  font-size: 18px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Modal Section */
#Modal-0{
  position: fixed;
  margin: 10%;

  z-index:1;
  background: white;
}

div.Modal-Container{
  z-index: 1003;
  display: flex;
  flex-direction: column;
  opacity: 1;
  /* top: 10%; */
  transform: scaleX(1) scaleY(1);
  margin: 0;
  height: 40vh;
  width: 100%;
  top: 0%;  
  background-color: rgba(0,0,0,0.5);
}


#Modal-0 > div.modal-footer > button{
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  color: teal;
}

div.modal-content > h4{
  background-color: lightseagreen;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 0%;
}
h4{
  text-align: center;
}

div.modal-content{
color: goldenrod;
}

div.modal-footer{
  background-color: lightseagreen;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*Header Section*/

#root > div > div.row {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: lightsteelblue;
}

#root > div > div.row > div.col.l12 > div > a:nth-child(2){
padding-left: 20%;  
}

/*Footer Section*/

div.site-footer{
  position: fixed;
  bottom:0;
  width: 100vw;
  background: crimson;
color:white;
}

#root > div > div:nth-child(3) > div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25vh;
  align-content: space-around;
}

#root > div > div:nth-child(3) > p{
  position: relative;
  
}

/* #root > div > div:nth-child(3) > div.Columns > div {
  height: 20px;
  width: 50%;

} */

#root > div > div.site-footer > address > a:hover{
 color: white;
 text-decoration: none; 
}

#root > div > div.site-footer > address > a:active{
color: black;
}

a.site-header > a{
  text-decoration: none;
  color: white;
  float: left; 
}

#root > div > div.row > div > div{
  width: 100vw;
}

#root > div > div >div> div > a{
  margin: 0% 1%; 
  text-decoration: none;
  color: white;
}

div.header-img{
width: 100vw;
height: 200px;
}

div.site-footer{
  width:100vw;
}

#root > div > div.row > div > div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: crimson;
}

svg.site-logo{
  color:black;
  float: left;
  align-items: center;
  width: 3%;
  height: 3%;
  border-left-width: 2%;
  margin-left: 2%;
}

div.site-nav > a{
  position: relative;
}

a.link.Home{
  left: 15%;
}

a.link.Calculator{
  left: 30%;
}

a.link.Weightlog{
  left: 45%;
}

div > a.calcLink{
  color:black;
}

#root > div > div:nth-child(2) > div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 162px;
}

#Modal-0{
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 0px;
  transform: scaleX(1) scaleY(1);
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  right: 0px;
  left: 0px;
}

#Modal-0 > div.modal-content{
  position: relative;
  top: 45%;
}

#Modal-0 > div.modal-footer{
  position: relative;
  top: 55%;
}

#root > div > div.content.p{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

}

#root > div > div.content.p > p {
  margin-top: 10%;
  width: 60vw;
  font-size: 2rem;
}
/*Media Query - Galaxy Fold - 280 x 653 */
@media screen and (max-width: 280px ) {
  #Modal-0{
    position: fixed;
    margin: 10%;
    margin-top:50%;
    z-index:1;
    background: white;
  }
  
  div#Modal-0.modal.open{
    margin: 0 auto;
    margin-top: 50%;
    flex-direction: column;
    justify-content: flex-end;
  }
 
  div.modal-content > h4{
    background-color: lightskyblue;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0%;
  }
  h4{
    text-align: center;
  }
  div.modal-content{
    color: goldenrod;
    }
    
    div.modal-footer{
      display: flex;
      justify-content: center;
      background-color: lightskyblue;
      padding-top: 1%;
      padding-bottom: 1%;

    }

    #root > div > div:nth-child(3) > div > div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 70vw;
    }
    #root > div > div:nth-child(3) > div > div > button{
      height: 26px;
      margin-top: 50%;
    }  
    
    #root > div > div:nth-child(3) > div{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 24vh;
    }

    #root > div > div:nth-child(3) > p{
      position: fixed;


    }
    #root > div > div:nth-child(3) > div.Columns > div {
      height: 20px;
      width: 50%;
    }
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
