body{
  height: 80%;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Modal Section */
#Modal-0{
  position: fixed;
  margin: 10%;

  z-index:1;
  background: white;
}

div#Modal-0.modal.open{
  margin: 0 auto;
  margin: 10%;
  border-radius: 1%, 5%, 1%;
}


#Modal-0 > div.modal-footer > button{
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  color: teal;
}

div.modal-content > h4{
  background-color: lightseagreen;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 0%;
}
h4{
  text-align: center;
}

div.modal-content{
color: goldenrod;
}

div.modal-footer{
  background-color: lightseagreen;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*Header Section*/

#root > div > div.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightsteelblue;
}

#root > div > div.row > div.col.l12 > div > a:nth-child(2){
padding-left: 20%;  
}

/*Footer Section*/

div.site-footer{
  position: fixed;
  bottom:0;
  width: 100vw;
  background: lightsteelblue;

}

#root > div > div:nth-child(3) > div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25vh;
  align-content: space-around;
}

#root > div > div:nth-child(3) > p{
  position: relative;
  
}

/* #root > div > div:nth-child(3) > div.Columns > div {
  height: 20px;
  width: 50%;

} */
/*Media Query - Galaxy Fold - 280 x 653 */
@media screen and (max-width: 280px ) {
  #Modal-0{
    position: fixed;
    margin: 10%;
    margin-top:50%;
    z-index:1;
    background: white;
  }
  
  div#Modal-0.modal.open{
    margin: 0 auto;
    margin-top: 50%;
    flex-direction: column;
    justify-content: flex-end;
  }
 
  div.modal-content > h4{
    background-color: lightskyblue;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0%;
  }
  h4{
    text-align: center;
  }
  div.modal-content{
    color: goldenrod;
    }
    
    div.modal-footer{
      display: flex;
      justify-content: center;
      background-color: lightskyblue;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    #root > div > div:nth-child(3) > div > div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 70vw;
    }
    #root > div > div:nth-child(3) > div > div > button{
      height: 26px;
      margin-top: 50%;
    }  
    
    #root > div > div:nth-child(3) > div{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 24vh;
    }

    #root > div > div:nth-child(3) > p{
      position: fixed;


    }
    #root > div > div:nth-child(3) > div.Columns > div {
      height: 20px;
      width: 50%;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
